.CreateContainer{
    width: 98%;
    min-height: 100vh;
    padding: 24px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(106, 76, 60, 0.4);
}

.CreateTitleContainer{
    width: 100% ;
    height:auto;
}

.CreateTitle {
    background-color: var(--dark-blue);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    color: white;
}

.CreateTitle h1{
    font-size :4vh;
    margin: 0%;
    font-weight: 600;
}

.CreateTitle i{
    font-size: 5vh;
    color: #ffffff;
}

.CreateInfoContainer{
    width: 100%;
    height:auto;
    border-radius: 15px;
    padding: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CreateInfo1{
  height: auto;
}


.AddButton{
    width: 100%;
    background-color: #ffffff;
    margin: none;
    border: none;
    border-radius: 10px;
    font-size: 70px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #D68C0D;
    box-sizing: border-box;
    height: 80%;
}

.CreateInfo1 .AddButton:hover{
    outline: none;
    box-sizing: border-box;
    border: dashed #E6AF2E;
    transition: .2s;
}


.AddButton .corner-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    z-index: 1;
}

.AddButton .corner-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    z-index: 1;
}

.AddButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(0 0, 100% 0, 0% 100%);
    z-index: 1;
}

/* Esquina inferior derecha */
.AddButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    z-index: 1;
}


.CancelButton{
    width: 30vw;
    height: 7vh;
    background-color: #ffffff;
    margin: none;
    border: #E6AF2E solid 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.CreateInfo2{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.labels{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}

.CreateLabels{
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
}
.labels label, .labels span {
  text-wrap: nowrap;
}

.labels input, select{
    width: 100%;
    height: 7vh;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 1em;
    border: 1px solid grey;
}

input:hover, input:focus, select:hover {
    border: solid 1px #D68C0D;
}

.CreateArea{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    font-size: 1em;
}

.CreateArea textarea{
    border: 1px grey solid;
    margin: 0;
    padding: 10px;
    height: 14vh;
    resize: none;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: .1px;
    font-family: Arial, Helvetica, sans-serif;
}

.CreateArea textarea:active, textarea:focus, textarea:hover{
    outline: none;
    border: solid 1px #E6AF2E;
}

.CreateButton{
    width: 100%;
    height: 50px;
    background-color: #FFEAB9;
    margin: none;
     font-weight: 600;
    border: #E6AF2E solid 1px;
    border-radius: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.CreateButton:hover, .CancelButton:hover{
    background-color: #E6AF2E;
    font-weight: 600;
    letter-spacing: .2px;
    color: #ffffff;

    transition: .1s;
}
.CreateButton:active, .CancelButton:active{
    transform: scale(.9);
    transition: .2s;
}

.Info{
    display: flex;
    gap: 30px;
}

.buttonsContainer{
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    width: 60%;
    padding-top: 28px;
}

.Map img{
    width: 100%;
}

.Map{
    height: 100%;
    overflow-y: hidden;
     border: solid 2px #E6AF2E;
     border-radius: 10px;
}

.CreateMapContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.AddButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Para celulares en vertical */
@media screen and (max-width: 768px) and (max-aspect-ratio: 3/4) {
  .Info {
    flex-direction: column;
  }

  .CreateInfo1 {
    width: 100%;
    height: auto;
  }

  .CreateInfo1 .AddButton {
    font-size: 40px;
    height: 30vh;
  }

  .CreateInfo2 {
    width: 100%;
  }

  .CreateLabels {
    flex-direction: column;
    gap: 20px;
  }
  .labels input, select {
    height: 36px;
  }

  .CancelButton,
  .CreateButton {
    width: 100%;
    border-radius: 10px;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 10px;
  }

  .Map {
    height: 35vh;
  }
}


/* Para tablets horizontales */
@media screen and (min-width: 769px) and (min-aspect-ratio: 2/3) and (max-width: 1024px) {
  .Info {
    flex-direction: row;
  }

  .CreateInfo1 {
    width: 57%;
    height: auto; /* Cuadrado */
  }

  .CreateInfo1 .AddButton {
    font-size: 60px;
    height: 100%;
  }

  .CreateInfo2 {
    width: 43%;
  }

  .CreateLabels {
    flex-direction: column;
  }

  .CancelButton {
    width: 30%;
  }
  .CreateButton {
    width: 70%;
  }

  .buttonsContainer {
    flex-direction: row;
    width: 100%;
  }

  .Map {
    height: 50vh;
  }
}


.input-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-error {
  color: rgb(190, 0, 0);
  font-size: 14px;
}

.create-visual-elements{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  gap: 30px;
}
.CreateInfo1{
  display: flex;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
   border-radius: 10px;
    font-size: 1em;
    border: 1px solid grey;
    height: 50px;
    justify-content: space-between;
}

#imgUpload{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
#imgUpload:hover{
  border: 0;
}

.ImageInput {
  margin-top: 10px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
}

.ImageInfo {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
  
}

.PreviewContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.PreviewThumb {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.ViewImageButton {
  padding: 6px;
  color: #000000;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
}

.ViewImageButton:hover {
  background: #e4e4e4;
}

.ImageModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.ImageModal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 90vw;
  max-height: 90vh;
  text-align: center;
  z-index: 2000;
}

.ModalImage {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 12px;
}

.CloseModalButton {
  margin-top: 15px;
  padding: 10px 14px;
  background: #444;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-image-elements{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}