.CreateContainer{
    background-color:#FAF6F1;
    width: 98%;
    height: auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:  20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.CreateTitleContainer{
    width: 100% ;
    height: 20vh;
}

.CreateTitle {
    background-color: #FFEAB9;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   clip-path: polygon( 35px 0%, calc(100% - 35px) 0%,100% 35px,100% 100%,0% 100%,0% 35px);
}


.CreateTitle i{
    font-size: 2vw;
    color: #D68C0D;
}

.CreateEndContainer {
    margin-top: 20px;
    background-color: #FFEAB9;
    width: 100%;
    height: 5vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, calc(100% - 35px) 100%, 35px 100%);
}


.CreateInfoContainer{
    width: 100%;
    height:auto;
    background-color: #FAF6F1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CreateInfo1{
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.CreateInfo1 .AddButton{
    width: 100%;
    height: 38vh;
    background-color: #ffffff;
    margin: none;
    border: none;
    border-radius: 10px;
    font-size: 70px;
    cursor: pointer;
     display: inline-block;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.CreateInfo1 .AddButton p{
    font-size: 25px;
    border: 0;
    margin: 0;
}

.CreateMapContainer .CancelButton{
    width: 25vw;
    height: 5vh;
    background-color: #ffffff;
    margin: none;
    border: #E6AF2E solid 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.CreateInfo2{
    width: 100%;
    height: 100%;
    padding: 18px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.labels{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}

.CreateLabels{
    display: flex;
    width: 100%;
    height: auto;
    gap: 30px;
}

.labels input, select{
    width: 100%;
    height: 5vh;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
}

.CreateArea{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    font-size: 18px;
}

.CreateArea textarea{
    border: 0;
    margin: 0;
    height: 17vh;
    resize: none;
    border-radius: 10px;
    font-size: 18px;
}

.CreateButton{
    width: 100%;
    height: 5vh;
    color: white;
    background-color: #E6AF2E;
    border: #E6AF2E solid 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.Info{
    display: flex;
    gap: 30px;
}

.buttonsContainer{
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}

.Map img{
    width: 100%;
}
.Map{
    height: 50vh;
    overflow-y: hidden;
     border: solid 2px #E6AF2E;
     border-radius: 20px;
}

.CreateMapContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.AddButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
