.CreateContainer{

    background-color:#FAF6F1;
    width: 98%;
    height: auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:  40px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.CreateTitleContainer{
    width: 100% ;
    height: 20vh;
}

.CreateTitle {
    background-color: #FFEAB9;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    clip-path: polygon( 25px 0%, calc(100% - 25px) 0%,100% 25px,100% 100%,0% 100%,0% 25px);
}

.CreateTitle h1{
    font-size :4vh;
    margin: 0%;
    font-weight: 600;
}

.CreateTitle i{
    font-size: 5vh;
    color: #D68C0D;
}

.CreateEndContainer {
    margin-top: 12px;
    background-color: #FFEAB9;
    width: 100%;
    height: 5vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, calc(100% - 25px) 100%, 25px 100%);
}

.CreateInfoContainer{
    width: 100%;
    height:auto;
    background-color: #FAF6F1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.CreateInfo1{
    width: 25vw;
    gap: 35px;
    box-sizing: border-box;
}
.CreateInfo1 .AddButton{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: none;
    border: none;
    border-radius: 10px;
    font-size: 70px;
    cursor: pointer;
     display: inline-block;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #D68C0D;
}

.CreateInfo1 .AddButton:hover{
    outline: none;
    border-color:#FFEAB9;
    box-shadow: 0 8px 10px #f8d393f3;
}


.AddButton .corner-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    z-index: 1;
}

.AddButton .corner-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    z-index: 1;
}

.AddButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(0 0, 100% 0, 0% 100%);
    z-index: 1;
}

/* Esquina inferior derecha */
.AddButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #E6AF2E;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    z-index: 1;
}


.CreateMapContainer .CancelButton{
    width: 25vw;
    height: 5vh;
    background-color: #ffffff;
    margin: none;
    border: #E6AF2E solid 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.CreateInfo2{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.labels{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}

.CreateLabels{
    display: flex;
    width: 100%;
    height: auto;
    gap: 30px;
}

.labels input, select{
    width: 100%;
    height: 5vh;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1em;
}

input:hover, input:focus, select:hover {
    border: solid 2px #D68C0D;
}

.CreateArea{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    font-size: 1em;
}

.CreateArea textarea{
    border: 0;
    margin: 0;
    height: 17vh;
    resize: none;
    border-radius: 10px;
    font-size: 1em;
}

.CreateArea textarea:active, textarea:focus, textarea:hover{
    outline: none;
    border-color:#FFEAB9;
    box-shadow: 0 8px 10px #f8d393f3;
}

.CreateButton{
    width: 100%;
    height: 5vh;
    background-color: #ffffff;
    margin: none;
    border: #E6AF2E solid 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.CreateButton:hover, .CancelButton:hover{
    background-color: #E6AF2E;
    color: #ffffff;
}



.Info{
    display: flex;
    gap: 30px;
}

.buttonsContainer{
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}

.Map img{
    width: 100%;
}
.Map{
    height: 50vh;
    overflow-y: hidden;
     border: solid 2px #E6AF2E;
     border-radius: 20px;
}

.CreateMapContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.AddButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
