.DashboardContainer{
    width: 98%;
    height: 100vh;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 24px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(106, 76, 60, 0.4);
}

.DashboardTitleContainer{
    width: 100% ;
    height: auto;
}

.DashTitle {
    background-color: var(--dark-blue);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    color: white;
}

.DashTitle h1{
    font-size :4vh;
    margin: 0%;
    font-weight: 600;
}

.DashTitle i{
    font-size: 5vh;
    color: #ffffff;
}


.DashSubtitle{
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 16px;
    box-sizing: border-box;
}

.DashSub1 {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .Dsub2{
        color: gray;
        margin: 0;
        padding: 0;
    }
    .Dsub1{
        margin: 0;
        padding: 0;
    }
}

.DashSub2 select{
    width: 10vw;
    transition: .3s ease;

}

.Dfilter:focus, select:hover{
    outline: none;
    border-color:#D68C0D;
    background-color: #fff;
}

.DashSub2{
    display: flex;
    height: auto;
    gap: 30px;
}

.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 padding: 0;

}

.input {
 width: 17vw;
 height: 100%;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #ffffff;
 color: #0d0c22;
 transition: .3s ease;
 font-size: 1em;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color:#D68C0D;
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1.2rem;
 height: 1.2rem;
}

.ProjectCard{
    color: #0d0c22;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #FAF6F1;
    overflow: hidden;
}

.ProjectCard:hover{
    border: 2px solid #D68C0D;
    cursor: pointer;
    box-sizing: border-box;
}

.ProjectList{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Projectphoto{
    width: 15vw;
    height: 100%;
}

.Projectphoto img{
    width: 100%;
    height: 100%;
}

.ProjectListContainer{
    width: 100%;
}

.projectinfo{
    display: flex;
    gap: 30px;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.projectinfo div {
    margin-left: 8px;
}

.projectinfo p {
    font-size: 14px;
    color: #686464;
}

.graphview{
    background-color: #FFEAB9;
    width: 40%;
}

.NoProjects{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 40px;
    font-size: 1em;
}


@media screen and (max-width: 1024px) and (orientation: landscape) {
  .graphview {
    display: none;
  }

  .projectinfo {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center; /* opcional: para apilar contenido si es necesario */
  }

  .Projectphoto {
    width: 100%; /* para ocupar todo el ancho si se apila */
  }
  .projectinfo  div {
    display: flex;
    width: 100%;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* opcional: para apilar contenido si es necesario */
  }
}


@media screen and (min-aspect-ratio: 3/4) and (max-width: 768px) {
  .graphview {
    display: none;
  }

  .projectinfo {
    width: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center; /* opcional: para apilar contenido si es necesario */
  }

  .Projectphoto {
    width: 100%; /* para ocupar todo el ancho si se apila */
  }
  .projectinfo  div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* opcional: para apilar contenido si es necesario */
  }
}
