.custom-swal-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.custom-swal-popup{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    z-index: 10000;
}

.custom-swal-title{
    margin-top: 0;
    padding: 0;
}

.custom-swal-cancel,
.custom-swal-delete-user {
  border: none;
  color: var(--white);
  background-color: transparent;
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-swal-cancel {
  border-radius: 12px;
  background-color: var(--dark-blue);
}

.custom-swal-delete-user {
  background-color: var(--red);
  border-radius: 12px;
  border: none !important;
}

.custom-swal-cancel:hover,
.custom-swal-confirm:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.succesful-popup{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    z-index: 10000;
}

.succesful-titulo{
    margin-top: 0;
    padding: 0;
}

.succesful-contenido{
     margin-bottom: 20px !important; 
}

.custom-swal-delete {
  border: 2px solid #dc3545 !important;
  color: #dc3545 !important;
  background-color: transparent !important;
  padding: 10px 25px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  border-radius: 30px 0 0 30px !important;
}

.custom-swal-delete:hover {
  background-color: #dc3545 !important;
  color: white !important;
}