body{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #F4A419;
  --dark-blue: #031328;
  --black-70: rgba(0, 0, 0, 0.7);
  --gray: #E9E9E9;
  --red: #EF3131;
}
