body{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #E9E9E9;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: #FFFFFF;
  --white-70: rgba(255, 255, 255, 0.7);
  --black: #000000;
  --yellow: #F4A419;
  --soft-yellow: #FFF8B9;
  --dark-yellow: #C5620C;
  --dark-blue: #031328;
  --black-70: rgba(0, 0, 0, 0.7);
  --black-45: rgba(0, 0, 0, 0.45);
  --gray: #E9E9E9;
  --red: #EF3131;
  --red-soft: #FFDCDD;
}
