.Login {
  position: relative;
  background-image: url('/src/assets/fondo_login.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  filter: invert(1); 
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
}

.LoginContainer {
  width: 75vw;
  height: 100%;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(1px) invert(1);     
  -webkit-backdrop-filter: blur(2px) invert(1); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  filter: invert(1);
  z-index: 3;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 36px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}

.Machine {
  position: relative;         
  min-width: 25vw;
  max-width: 100%;
  height: 100%;   
  display: flex;
  justify-content: center;
  align-items: end;          
  z-index: 2;
  overflow: visible;   
}

.Machine img {
  width: auto;
  height: 100vh;              
  z-index: 1;
  pointer-events: none;

}

.Machine.register-machine img {
  height: 100vh;
}

.Formtitle{
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: auto;
  font-size: 0.8em;
  padding: 24px;
}

.Formtitle * {
  margin: 0;
  color: var(--white);
}

.logo{
  width: 45px;
}

.FormContainer{
  width: 40%;
  box-sizing: border-box;
  height: auto;
  max-height: 90vh;
  background-color: rgba(255, 255, 255, 0.4);
  padding:  0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(1px);    
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);   
  border-radius: 24px;
  overflow: hidden;
}

.inputform{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  padding: 0;
  margin: 0;
}


.Form{
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.Form::-webkit-scrollbar {
    display: none;
}

.inputform input{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  height: 40px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 10px;
}
.inputform input::placeholder{
  font-size: 1.1em;
}

.loginbutton{
  height: 40px;
  box-sizing: border-box;
  border: transparent;
  margin: 4px 0;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--yellow);
  font-size: 1.1em;
}

.buttonform{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0 0 8px 0;
  justify-content: center;
  align-items: center;
}

.buttonform button:hover {
  transform: scale(.9);
  transition: .2s;
}
.buttonform button:active {
  transform: scale(.8);
  transition: .2s;
  background-color: #FFEAB9;
  color: #000;
}
.buttonform p {
  margin: 2px 0;
  font-size: 14px;
  text-align: center;
}


.LoginContainer.register-machine .Form {
  gap: 4px;
  padding: 12px 24px;
  justify-content: start;
}

.FormContainer.register-mode {
  min-height: 95vh;
}

/*Estilos para una pantalla mayor*/

@media (min-width: 1921px) {
  .FormContainer {
    height: auto;
    width: 42%;
    padding-top: 55px;
    gap: 40px;
  }

  .Formtitle{
    font-size: 19px;
  }

  .Form{
    gap: 30px;
    font-size: 20px;
  }

  .inputform input{
    height: 54px;
    box-sizing: border-box;
    padding: 10px;
  }

  .inputform input::placeholder{
    font-size: 18px;
  }

  .loginbutton{
    height: 52px;
    font-size: 22px;
  }
  .inputform{
    gap: 14px;

  }
  .buttonform{
    gap: 10px;
  }

}

.login-mode {
  transition: all 0.3s ease-in-out;

}
.register-mode {
  transition: all 0.3s ease-in-out;
}

.LoginContainer.register-machine {
  height: 100vh;
  width: 75vw;
  box-sizing: border-box;
}

.LoginContainer.register-machine input {
  height: 36px;
  font-size: 14px;
}

.LoginContainer.register-machine label {
  font-size: 14px;
}


.inputform input:focus {
  border: solid 1.5px var(--yellow);
  outline: none;
}

.input-error {
  border: solid 1.5px var(--red) !important;
}

.error-text {
  margin: 4px 0 0 0;
  color: var(--red);
  font-size: 14px;
}

@media screen and (max-aspect-ratio: 3/2) {
  .Login {
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 10px;
    overflow-y: auto;
  }

  .LoginContainer {
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 48px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 24px;
  }

  /* Ocultar imagen en pantallas 2:3 horizontales */
  .Machine {
    display: none !important;
  }

  .FormContainer {
    width: 100%;
    padding: 0px;
    gap: 20px;
  }

  .Formtitle {
    font-size: 1em;
    gap: 10px;
  }

  .Form {
    font-size: 1em;
    gap: 20px;
  }

  .inputform input {
    height: 40px;
    font-size: 1em;
  }

  .inputform input::placeholder {
    font-size: 1em;
  }

  .loginbutton {
    height: 40px;
    font-size: 1em;
  }

  .buttonform {
    width: 90%;
    gap: 10px;
  }

  .logo {
    width: 35px;
  }
}

@media screen and (max-width: 768) {
  .LoginContainer {
    width: 100vw;
  }
}

.input-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-error {
  color: rgb(190, 0, 0);
  font-size: 14px;
}
